@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  height: 100dvh;
  width: 100%;
  display: flex;
  padding: 20px;
}

:root {
  --poppins-font-family: 'Poppins', sans-serif;
  --montserrat-font-family: 'Montserrat', sans-serif;
}

.container {
  width: 100%;
  max-width: 1280px;
  margin-inline: auto;
}

.ticket_container {
  display: flex;
  overflow: hidden;
  position: relative;
}

.ticket_container:before,
.ticket_container:after {
  content: '';
  position: absolute;
  top: 0;
  height: 100%;
  width: 51.9px;
  background-image: url('./images/ticket_circle.svg');
  background-repeat: no-repeat;
  background-position: left;
}

.ticket_container:before {
  left: -25px;
}

.ticket_container:after {
  right: -25px;
}

.ticket_form_head {
  display: flex;
  flex-direction: column;
  background: #8c263c;
  padding: 42px 50px 42px 60px;
}

.ticket_form_heading {
  font-size: 40px;
  line-height: 48.76px;
  max-width: 199px;
  color: white;
  font-family: var(--montserrat-font-family);
  font-weight: 600;
}

.checkboxs_wrapper {

  padding-top: 20px;
  border-top: 1px solid #96394e;
  margin-top: 20px;
  margin-bottom: 20px;
}

.ticket_form_time_heading {
  font-size: 14px;
  color: #ffffff;
  opacity: 0.8;
  margin-bottom: 20px;
  display: block;
}

.ticket_form_checkboxes {
  display: flex;
  flex-direction: column;
  grid-gap: 10px;
}

.ticket_form_checkbox {
  cursor: pointer;
  display: flex;
  align-items: center;
  grid-gap: 10px;
}

.ticket_form_checkbox input {
  display: none;
}

.ticket_form_checkbox:before {
  content: '';
  display: block;
  height: 18.41px;
  width: 18.41px;
  background-color: #ffffff1a;
  border-radius: 50px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 18.41px;
  border: 1px solid #fff;
  flex: 0 0 auto;
}

.ticket_form_checkbox:has(input:checked):before {
  background-color: #fff;
  background-image: url('data:image/svg+xml,<svg width="19" height="20" viewBox="0 0 19 20" fill="none" xmlns="http://www.w3.org/2000/svg"><circle cx="9.57973" cy="10.1852" r="9.20668" fill="white"/><circle cx="9.57973" cy="10.1852" r="8.70668" stroke="white" stroke-opacity="0.1"/><path d="M13.4532 8.05288C13.3775 8.33521 13.195 8.53834 12.9953 8.73803C11.7558 9.97061 10.5198 11.2101 9.28033 12.4461C8.83275 12.8937 8.32663 12.8937 7.87905 12.4495C7.30063 11.8746 6.7291 11.2961 6.15068 10.7246C5.95099 10.5284 5.77196 10.3287 5.70654 10.0498C5.70654 9.95684 5.70654 9.86732 5.70654 9.77436C5.7754 9.6332 5.82016 9.47138 5.91312 9.35088C6.24364 8.93084 6.83928 8.89985 7.23177 9.27513C7.60361 9.6332 7.96512 10.005 8.33008 10.3666C8.53665 10.5731 8.61584 10.5731 8.82586 10.3631C9.84498 9.34399 10.8607 8.32488 11.8798 7.3092C12.3033 6.88916 12.9161 6.90982 13.2604 7.36085C13.3499 7.47791 13.3912 7.63628 13.4532 7.774C13.4532 7.87041 13.4532 7.95992 13.4532 8.05288Z" fill="%23B52F4C"/></svg>');
}

.ticket_form_checkbox p {
  user-select: none;
  font-size: 16px;
  color: #fff;
  line-height: 24px;
  max-width: 184.11px;
}

.ticket_form_body {
  flex: 1;
  background: #b52f4c;
  padding: 29px 75px 29px 52px;
}

.ticket_form_body h2 {
  color: #fff;
  font-size: 20px;
  line-height: 24.38px;
  margin-bottom: 13px;
  position: relative;
  display: flex;
  align-items: center;
  grid-gap: 9.26px;
  font-family: var(--montserrat-font-family);
  font-weight: 600;
}

.ticket_form_body h2:after {
  content: '';
  height: 1px;
  flex: 1;
  background: #ffffff;
  display: block;
  opacity: 0.2;
}

.ticket_counter {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.ticket_count {
  display: flex;
  text-align: center;
  position: relative;
  align-items: center;
  flex-direction: column;
}

.ratio-icon {
  width: 9.7px;
  height: 28.19px;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url('./images/ratio-icon.svg');
}

.ticket_count_number {
  font-size: 59.32px;
  line-height: 72.31px;
  font-weight: 700;
  color: #ffffff;
  font-family: var(--montserrat-font-family);
}

.ticket_count_type {
  font-size: 18.98px;
  color: #ffff;
  opacity: 0.7;
  text-transform: capitalize;
  font-family: var(--montserrat-font-family);
}

.ticket_form {
  display: flex;
  flex-direction: column;
  grid-gap: 10px;
  margin-top: 20px;
}

.ticket_form_row {
  display: flex;
  grid-gap: 10px;
  flex-wrap: wrap;
  align-items: center;
}

.ticket_form_group {
  min-width: 200px;
  padding: 0 10px;
  height: 47px;
  display: flex;
  grid-gap: 10px;
  border-radius: 6px;
  align-items: center;
  background: #00000026;
  border: 1px solid #c04e67;
  flex: 1 1 calc((100% / 2) - 10px);
}

.ticket_form_group input,
.ticket_form_group select {
  width: 100%;
  background: transparent;
  border: none;
  outline: none;
  align-self: stretch;
  color: #fff;
  margin-top: 2px;
}

.ticket_form_group select option {
  color: black;
}

.ticket_form_group input::placeholder {
  color: #ffffff;
  font-size: 16px;
}

.ticket_form_group img {
  width: 18px;
  height: 18px;
  object-fit: contain;
}

.ticket_form_footer {
  background: #d5712a;
  display: flex;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  padding: 0 50px 0 37px;
  border: none;
  outline: none;
}

.ticket_submit_button {
  font-size: 24px;
  line-height: 36px;
  color: #ffffff;
  text-transform: uppercase;
  writing-mode: tb;
  rotate: 180deg;
}

@media (max-width: 1024px) {
  .ticket_form_heading {
    font-size: 30px;
    line-height: 36px;
  }

  .ticket_form_time_heading {
    font-size: 12px;
  }

  .ticket_form_checkbox label {
    font-size: 14px;
  }

  .ticket_form_body h2 {
    font-size: 18px;
  }

  .ticket_count_number {
    font-size: 45px;
    line-height: 60px;
  }

  .ticket_count_type {
    font-size: 16px;
  }

  .ticket_submit_button {
    font-size: 20px;
  }

  .ticket_form_group input::placeholder {
    font-size: 14px;
  }

  body {
    padding: 10px;
  }

  .ticket_form_head {
    padding: 30px 40px 30px 50px;
  }

  .ticket_form_body {
    padding: 20px 60px 20px 40px;
  }

  .ticket_form_footer {
    padding: 0 40px 0 20px;
  }
}

@media (max-width: 992px) {
  .ticket_container {
    flex-direction: column;
  }

  .ticket_form_head,
  .ticket_form_body,
  .ticket_form_footer {
    width: 100%;
    padding: 30px;
  }

  .ticket_form_footer {
    padding: 20px;
  }

  .ticket_submit_button {
    rotate: none;
    writing-mode: unset;
  }

  .ticket_form_head {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  .ticket_container:before,
  .ticket_container:after {
    content: none;
  }

  .checkboxs_wrapper {
    border-top: unset;
    padding-top: 0;
    margin: 0;
    flex: 0 0 auto;
  }

  .ticket_form_checkbox label {
    max-width: unset;
  }
}

@media (max-width: 550px) {
  .ticket_form_heading {
    font-size: 24px;
    line-height: 30px;
    max-width: 150px;
  }

  .ticket_form_checkbox label {
    font-size: 12px;
  }

  .ticket_form_body h2 {
    font-size: 16px;
  }

  .ticket_count_number {
    font-size: 35px;
    line-height: 40px;
  }

  .ticket_count_type {
    font-size: 14px;
  }

  .ticket_submit_button {
    font-size: 18px;
  }
}

@media (max-width: 468px) {
  .ticket_form_head {
    flex-direction: column;
    align-items: center;
    text-align: center;
    grid-gap: 20px;
  }

  .ticket_form_heading {
    max-width: unset;
  }

  .ticket_count_number {
    font-size: 30px;
  }

  .ticket_form_footer {
    padding: 10px;
  }

  .ratio-icon {
    width: 6px;
    height: 20px;
  }
}